<html> 

{% load staticfiles %}
<head> 
	<meta charset = "UTF-8">
	<link rel = "stylesheet" href="{% static 'tinycarousel/css/tiny.css' %}"/>
	<link rel= "shortcut icon" href= "{% static 'tinycarousel/images/carousel.png' %}">
	<title> f r </title>
	<script type = "text/javascript" src = "{% static 'tinycarousel/jquery.js' %}"></script>
</head>

<!-- ==================== PUSH MENU ==================== -->

<body class="pushmenu-push">
  <nav class="pushmenu pushmenu-left">
    </br></br></br></br></br>
    <a href="/">circus</a>
    <a href="/products">shit</a>
    <a href="/about">about</a>
  </nav>
  
	<div class="container">
        <div class="main">
        	<section class="buttonset">
            	<div id="nav_list">Menu</div>
        	</section>
        </div>
    </div>

	<script type = "text/javascript">
		$(document).ready(function() {
		$menuLeft = $('.pushmenu-left');
		$nav_list = $('#nav_list');
		
		$nav_list.click(function() {
			$(this).toggleClass('active');
			$('.pushmenu-push').toggleClass('pushmenu-push-toright');
			$menuLeft.toggleClass('pushmenu-open');
		});
	});
	</script>

</body>

<!-- ==================== PRODUCTS PAGE BODY ==================== -->

<body>

	<div id = "aboutheader">
		<p id = "about"> yo we don't know either </p>
	<div>


	<div id = "footer"> 
		free rein &copy;
	<div>

</body>

</html 
