<html> 

<head> 
	<meta charset = "UTF-8">
	<link rel = "stylesheet" href = "css/tiny.css"/>
	<link rel= "shortcut icon" href= "images/carousel.png">
	<title> f r </title>
	<script type = "text/javascript" src = "jquery.js"></script>
</head>

<!-- ==================== PUSH MENU ==================== -->

<body class="pushmenu-push">
  <nav class="pushmenu pushmenu-left">
    </br></br></br></br></br>
    <a href="index.html">circus</a>
    <a href="#">shit</a>
    <a href="about.html">about</a>
  </nav>
  
	<div class="container">
        <div class="main">
        	<section class="buttonset">
            	<div id="nav_list">Menu</div>
        	</section>
        </div>
    </div>

	<script type = "text/javascript">
		$(document).ready(function() {
		$menuLeft = $('.pushmenu-left');
		$nav_list = $('#nav_list');
		
		$nav_list.click(function() {
			$(this).toggleClass('active');
			$('.pushmenu-push').toggleClass('pushmenu-push-toright');
			$menuLeft.toggleClass('pushmenu-open');
		});
	});
	</script>

</body>

<!-- ==================== PRODUCTS PAGE BODY ==================== -->

<body>

	<div id = "productsheader">
		<p> </p>

		<div id = "item1"> Item 1 </div>

		<div id = "item2"> Item 2 </div>

		<div id = "item3"> Item 3 </div>
		
	</div>

	

	</div>


	<div id = "footer"> 
		free rein &copy;
	<div>

</body>

</html 
